table(class="table-stripe")
    thead
        tr
            th Name
            th Email Address
            th Submitted
            th Series
            th
            th
    tbody
        each request in requests
            tr
                td= request.user.name
                td: a(href="mailto:#{request.user.email_address}")= request.user.email_address
                td= moment(new Date(request.submitted)).fromNow()
                td= request.series
                td: a(href="/admin/requests/#{request._id}") View
                td: a(href="/admin/requests/delete/#{request._id}" class="delete-link" onclick="return confirm('Delete this request?')") Delete